<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>

    <header th:insert = "blocks\header :: header"/>
    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
        <div class="container-fluid px-3">
            <!-- Логотип -->
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img th:src="@{/logo.png}" alt="Логотип" height="40">
            </a>



            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="offcanvas" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Меню offcanvas -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasLabel">Меню</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">
                        <li class="nav-item"><a class="nav-link" href="#">Одежда</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Личный кабинет</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Поддержка</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Информация</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">
                                <svg class="bi" width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>



    <p th:text="|Hello, ${title}!|"></p>

    <footer th:insert = "blocks\footer :: footer"/>
    
</body>

</html>